<table class="table table-hover table-inverse">
  <thead>
    <tr class='text-nowrap'>
      <th>user</th>
      <th>Title</th>
      <th>Opinion</th>
      <th>いいね</th>
      <th>コメント数</th>
      <th>閲覧数</th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td>
          <%= link_to(book.user) do %>
            <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title, book %></td>
        <td><%= book.body %></td>
        <td id="favorite_buttons_<%= book.id %>" class='text-center'>
          <%= render "favorites/favorite_btn", book: book %>
        </td>
        <td class='text-center'><i class="fas fa-comment-dots text-secondary"></i> <%= book.book_comments.count %></td>
        <td class='text-center'><i class="fas fa-chart-line text-secondary"></i> <%= book.impressionist_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
